<div class="login">
  <div *ngIf="!(oauth.isLoggedInAsync() | async)" class="text-center">
    <h2 class="mat-h2">Вход в систему</h2>

    <form #form="ngForm" [formGroup]="model.loginForm" (ngSubmit)="onSubmit(form.value)">

      <mat-form-field class="full-width">
        <input matInput placeholder="Имя пользователя" name="username" [formControl]="username" tabindex="1" required>
        <mat-error *ngIf="username.hasError('required')">
          Имя пользователя <strong>обязательно</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <input matInput placeholder="Пароль" [type]="'password'" name="password" tabindex="2" formControlName="password"
          required>
        <mat-error *ngIf="password.hasError('required')">
          Пароль <strong>обязателен</strong>
        </mat-error>
      </mat-form-field>

      <button tabindex="3" mat-raised-button [disabled]="form.invalid" type="submit">Войти</button>

    </form>
  </div>

  <div *ngIf="oauth.isLoggedInAsync() | async" class="text-center">
    <h2 class="mat-h2">Привет {{model.userName}}</h2>
    <button tabindex=" 3" mat-raised-button (click)="oauth.logout()">Выйти</button>
  </div>
</div>