html,
body {
    margin: 0;
    padding: 0;
}

pre {
    white-space: pre-wrap;
}

.text-center {
    text-align: center;
}

.center {
    display: flex;
    align-content: space-between;
}

.p-10 {
    padding: 10px;
}

.m-10 {
    margin: 20px;
}