<h2 class="mat-h2 text-center">Меню</h2>

<mat-list>
  <mat-list-item routerLinkActive="active">
    <a routerLink="/guest-page">Гость</a>
  </mat-list-item>
  <mat-list-item *ngIf="(oauth.isUser() | async) || (oauth.isModerator() | async) || (oauth.isAdmin() | async)"
    routerLinkActive="active">
    <a routerLink="/user-page">Пользователь</a>
  </mat-list-item>
  <mat-list-item *ngIf="(oauth.isModerator() | async) || (oauth.isAdmin() | async)" routerLinkActive="active">
    <a routerLink="/moderator-page">Модератор</a>
  </mat-list-item>
  <mat-list-item *ngIf="oauth.isAdmin() | async" routerLinkActive="active">
    <a routerLink="/admin-page">Админ</a>
  </mat-list-item>
  <mat-list-item routerLinkActive="active">
    <a routerLink="/about-page">О сайте</a>
  </mat-list-item>
</mat-list>