<mat-card>
  <mat-card-header>
    <mat-card-title>{{title}}</mat-card-title>
  </mat-card-header>
  <mat-divider class="m-10"></mat-divider>
  <mat-card-content *ngIf="data">
    <h2 class="mat-h2">Ответ:</h2>
    <pre>{{data}}</pre>
  </mat-card-content>
  <mat-card-actions>
    <p>Выполнить запрос к api</p>
    <button mat-raised-button (click)="callGuestApi()">Гость</button>
    <button mat-raised-button (click)="callUserApi()">Пользователь</button>
    <button mat-raised-button (click)="callModeratorApi()">Модератор</button>
    <button mat-raised-button (click)="callAdminApi()">Админа</button>
  </mat-card-actions>
</mat-card>