<mat-sidenav-container>
  <mat-sidenav mode="side" opened fixedInViewport>
    <app-login></app-login>
    <mat-divider></mat-divider>
    <app-menu></app-menu>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>